/* Font */
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@600&family=Montserrat:wght@400;600;700&family=Poppins:wght@500;600;700&family=Raleway:wght@500;600;700&display=swap');

/* --------------------------------
CSS common section
---------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}
.container-middle{
    max-width: 1000px;
    margin: 0 auto;
}
/* --------------------------
css for navigation
----------------------------- */
header{
    background-color: #fff;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin: 15px;
}
.navigation-left h3{
    color: rgba(0, 0, 0, 0.9);
    font-size: 1.5em;
}
.navigation-right{
display: flex;
justify-content: center;
}
.navigation-right .icon{
    margin-right: 5px;
    color: rgba(0, 0, 0, 0.836);
}
ul{
    display: flex;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.849);
    padding: 20px;
}
/*--------------------------
 Css for Banner section 
 ----------------------------*/
.banner{
    display: grid;
    grid-template-columns: 650px 450px;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 10px;
}

.section-title h1{
    font-size: 45px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.644);
}
.banner-left p{
    font-size: 16px;
    line-height: 1.5;
    margin: 20px 0;
}

.primary-button{
    padding: 10px 30px;
    color:#fff;
    background-image: linear-gradient(rgba(243, 7, 98, 0.925),rgb(224, 9, 160));
    border-radius: 20px;
    border: 1px solid gray;
    font-size: 18px;
}
.primary-button .arrow{
    margin-left: 10px;
}
.banner-right{
    background-image: url(../images/image/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-right img{
    width: 100%;   
}
.banner-right img:hover{
    transform: rotate(90deg);
    transition: 3s ease;
}
.e-commerces{
    height: 80px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    justify-content: center;
    align-items: center;
    margin: 80px 0;
    border-top: 1px solid rgba(170, 170, 170, 0.781);
    border-bottom: 1px solid rgba(170, 170, 170, 0.781);
}
.e-commerces img{
    width: 80%;
}

/* Popular Collection CSS */

.section-title h2{
    font-size: 30px;
    margin: 50px 0;
    text-align: center ;
}
.popular-collection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
}
.products{
    box-shadow: 10px 1px 20px gray;
    padding: 10px;
    border-radius: 5px;
}
.product img{
    width: 100%;
}
.products h3{
    font-size: 25px;
}
.product-price h4,p{
    color: rgba(24, 23, 23, 0.788);
}
.product-price{
    margin: 5px 0;
}
.Product-details p{
line-height: 1.3;
margin: 5px;
}
.product-rating .filled{
    color: #fb8200a4;
}
.product-rating .empty{
    color: rgb(207, 202, 202);
}
.show-more{
    text-align: right;
    margin: 30px 0;
}
.show-more a{
    text-decoration: none;
    color: rgba(243, 7, 98, 0.925);
}
/* ---------------------------------
Influencer Bangladesh 
------------------------------------*/
.bd-influencer{
    display: grid;
    grid-template-columns: 300px 300px 400px;
    justify-content: space-between;
    gap: 30px;
}
.influencers{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 270px;
    height: fit-content;
    margin-bottom: 50px;
    padding: 30px 0;
    box-shadow: 5px 5px 20px black;
}

#influencer{
    padding-bottom:60px;
}
.influencers .influencer-image img{
    width: 270px;
    height: 300px;
}


/* CSS for footer */
footer{
    background-color: #000;
}
footer p,h5{
    color: #fff;
    font-size: 1.2em;
    }
#footer{
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction:column;
    color: #fff;
    align-items: center;
}
.social-icon .social-logo{
    font-size: 20px;
    padding: 0 15px;
    margin: 15px 0;
    color: #fff;
      
}
/* ----------------------------------------
css for mobile
------------------------------------------- */
@media only screen and (max-width: 688px){
    .container{
        max-width: 0 auto;
    }
    .section-title h2,h1,p,h3,h4{
        text-align: center;
    }
    .banner{
        grid-template-columns: 1fr;
    }
    .banner-left{
        width: fit-content;
        order: 2;
    }
    .navigation-right{
        display: none;
    }
    .bannerleft .primary-button{
        text-align: center;
    }
    .e-commerces{
        grid-template-columns: repeat(4,1fr);
        padding: 30px;
        border: none;
        max-height: 100px;
    }
    .popular-collection{
        grid-template-columns: 1fr;
        padding: 20px;
    }
    .container-middle{
        margin: 0 auto;
        justify-items: center;
    }
    .product-rating{
        text-align: center;
    }
    .bd-influencer{
        grid-template-columns: 1fr;
    }
    .influencer-title{
        order: 1;
    }
}




