/* Font */
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@600&family=Montserrat:wght@400;600;700&family=Poppins:wght@500;600;700&family=Raleway:wght@500;600;700&display=swap');

/* --------------------------------
CSS common section
---------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}
/* --------------------------
css for navigation
----------------------------- */
header{
    background-color: #fff;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin: 15px;
}
.navigation-left h3{
    color: rgba(0, 0, 0, 0.9);
    font-size: 1.5em;
}
.navigation-right{
display: flex;
justify-content: center;
}
.navigation-right .icon{
    margin-right: 5px;
    color: rgba(0, 0, 0, 0.836);
}
ul{
    display: flex;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.849);
    padding: 10px;
}
/*--------------------------
 Css for Banner section 
 ----------------------------*/
.banner{
    display: grid;
    grid-template-columns: 650px 450px;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 10px;
}

.section-title h1{
    font-size: 45px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.792);
}
.banner-left p{
    font-size: 16px;
    line-height: 1.5;
    margin: 20px 0;
}

.primary-button{
    padding: 10px 30px;
    color:#fff;
    background-image: linear-gradient(rgb(243, 7, 97),rgb(224, 9, 160));
    border-radius: 20px;
    border: 1px solid gray;
    font-size: 18px;
}
.primary-button .arrow{
    margin-left: 10px;
}
.banner-right{
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-right img{
    width: 100%;   
}
.banner-right img:hover{
    transform: scale(90deg);
}

